/* SIDEBAR */
.sidebar {
  text-align: center;
  padding-top: 20px;
  height: 100vh;
  width: 250px;
  position: fixed;
  overflow: auto;
}

.sidebar .app-name {
  font-size: 2rem;
}

.sidebar-list .sidebar-item:hover {
  background-color: black;
}

.sidebar-list .sidebar-link {
    display: block;
    padding: 0.5rem 1rem;
}

/* CONTENT */
.content {
  margin-left: 250px; 
  padding: 20px 50px;
}

/* Product card */
.product-card {
  padding: 20px 5px;
}

.product-card .product-card-title {
  font-size: 2rem;
  font-weight: 900;
}

.product-card .product-card-price {
  font-size: 1.8rem;
}

.product-card .product-card-preview img {
  width: 300px;
  height: auto;
}

/* Product list */
/* Toast */
.toast-header img {
  width: 20px;
  height: auto;
}

/* Cart */
.cart-item-card {
  padding: 10px 0px;
}


