/* SIDEBAR */
.sidebar {
  text-align: center;
  padding-top: 20px;
  height: 100vh;
  width: 18vw;
  position: fixed;
  /* overflow: auto; */
}

.sidebar .app-name {
  font-size: 2rem;
}

.sidebar-list .sidebar-item:hover {
  background-color: black;
}

.sidebar-list .sidebar-item .active {
  background-color: black;
}

.sidebar-list .sidebar-link {
    display: block;
    padding: 0.5rem 1rem;
}

/* CONTENT */
.content {
  margin-left: 18vw; 
  padding: 20px 50px;
}

/* Product card */
.product-card {
  padding: 20px 5px;
}

.product-card .product-card-title {
  font-size: 2rem;
  font-weight: 900;
}

.product-card .product-card-price {
  font-size: 1.8rem;
}

.product-card .product-card-preview img {
  width: 220px;
  height: auto;
}

/* Product list */
/* Filter Tab */
.filter-tab-list li a {
  text-decoration: none;
}
.filter-tab-list li {
  border-bottom: 2px solid #dee2e6;
}
/* Toast */
.toast-header img {
  width: 20px;
  height: auto;
}

/* Cart */
.cart-item-card {
  padding: 10px 0px;
}
.cart-item {
  padding-top: 0.25rem;
}
.cart-item-input {
  width: 25% !important;
}

@media (max-width: 532.98px) { 
  .cart-item-input {
    width: 50% !important;
  }
}


@media (max-width: 767.98px) { 

}

@media (min-width: 533px) and (max-width: 991.98px) { 
  .cart-item-input {
    width: 75% !important;
  }
 }

@media (max-width: 1199.98px) {  }